<!DOCTYPE html>
<html>

<head>
  <title>New Activity</title>
  <meta charset="UTF-8">
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'design.css' %}" />
</head>
<body>

<h1>Create New Activity</h1>

<div class = "contenedor">
  <div class = "actividad">
    <form action="">
      <h3>Name: </h3>
      <input class = "aname" name="activityName" type="text">
      <h3>Description: </h3>
      <textarea  class = "description" name="activityDescription" type="text"> </textarea>
      <h3>Duration time:</h3>
      <input type="number" name="quantity" min="1" max="10">
      <h3>Max number of volunteers:</h3>
      <input type="number" name="quantity" min="1" max="100">
      
      <br>
      <br>
      <input class="btnlog" value="Submit" type="submit">
      <button class="btnc">Cancel</button>
     
    </form>

  </div>
</div>

<a class = "soporte" href="https://www.google.com">Support Link</a>

</body>
</html>