<!DOCTYPE html>
<html>
<head>
  <title>New Organizer</title>
  <meta charset="UTF-8">
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'design.css' %}" />
</head>
<body>

<h1>New Organizer</h1>

<div class = "contenedor">
  <div class = "actividad">
    <form action="">
      <h3>User name: </h3>
      <input name="userid" type="text">
      <h3>Password:</h3>
      <input name="psw" type="password"> 
      <h3>Confirm Password:</h3>
      <input name="psw" type="password">
      <h3>Organizer username: </h3>
      <input name="userid" type="text">
      <h3>Organizer password: </h3>
      <input name="userid" type="text">
      <br>
      <br>
      <input class="btnlog" id="btno" value="Sign In" type="submit">
    </form>
  </div>
</div>

<a class = "soporte" href="https://www.w3schools.com">Support Link</a>

</body>
</html>