<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <meta charset="UTF-8">
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'design.css' %}" />
</head>
<body>

<h1>Sign In</h1>

<div class ="contenedor">
  <div class = "nuevoUser">
    <form action="">
      <h3>User name: </h3>
      <input type="text" name="userid">
      <h3>Password:</h3>
      <input type="password" name="psw"> 
      <h3>Confirm Password:</h3>
      <input type="password" name="psw">
      <br>
      <br>
      <input class = "btnlog" type="submit" value="Log In">
      <input class = "btnsign" type="submit" value="Sign In">
    </form>
  </div>
</div>


<a class = "soporte" href="https://www.w3schools.com">Support Link</a>

</body>
</html>